*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "century";
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
}

#left{
    display: flex;
    align-items: center;
}

#logo{
    display: flex;
    align-items: center;
}

#logo>h2{
    letter-spacing: 2px;
}

#logo>span{
    margin-left: 2px;
    margin-bottom: 20px;
    font-size: 50px;
    color: #97c680;
}

#anchortags{
    display: flex;
    align-items: center;
    padding: 0 50px;
}

#anchortags>a{
    color: #100d;
    font-size: small;
    padding-left: 20px;
}

#anchortags>a:hover{
    color: #97c680;
    font-size: 15px;
}

#right{
    display: flex;
    align-items: center;
}

#right>a{
    color: #100d;
    font-size: small;
    margin-left: 20px;
}

#right>a:hover{
    color: #97c680;
    font-size: 15px;
}

#right>button{
    margin-left: 30px;
    background-color: #1e1e2f;
    color: #fcfdfe;
    height: 35px;
    width: 120px;
    border-radius: 50px;
}

#right>button:hover{
    background-color: #97c680;
    color: black;
    border: none;
    outline: none;
}

#leftpart{
    padding: 10px 130px;
    margin-top: 60px;
}

#leftpart>h3{
    font-size: 65px;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: "poppins";
    line-height: 80px;
}

#middle{
    display: flex;
    height: 500px;
    width: 100%;
    margin-top: 40px;
}

#rightpart{
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: space-between;
    overflow: hidden;
}

#card1{
    height: 100%;
    width: 50%;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

#card1>img{
    width: 100%;
}

#card1>img:hover{
    width: 110%;
}

#d1{
    width: 100%;
    position: absolute;
    height: 35%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.9));
    color: #fff;
    padding: 50px;
    font-family: "poppins";
}

#d1>h2{
    font-family: "poppins";
    font-weight: 400;
    font-size: 27px;
    letter-spacing: 1px;
    line-height: 30px;
    margin-left: 30px;
}

#d1>h3{
    text-align: center;
    font-family: "poppins";
    font-size: 40px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 10px;
}

#d1>h3>span{
    font-size: 10px;
    font-weight: 400;
}

#card2{
    height: 100%;
    width: 22%;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

#card2>img{
    height: 100%;
    transform: translate(-15%, 0);
}

#card2>img:hover{
    height: 110%;
    transform: translate(-15%, 0);
}

#d2{
    width: 100%;
    position: absolute;
    height: 40%;
    bottom: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.9));
    color: #fff;
    font-family: "poppins";
}

#box1{
    width: 120px;
    height: 100px;
    background-color: #1e1e2f;
    margin-top: 50px;
}

#d2>h2{
    position: absolute;
    font-family: "poppins";
    font-size: 40px;
    font-weight: 400;
    transform: rotate(-90deg);
    left: -15px;
}

#card3{
    height: 100%;
    width: 22%;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

#card3>img{
    height: 100%;
    transform: translate(-30%, 0);
}

#card3>img:hover{
    height: 110%;
    transform: translate(-30%, 0);
}

 #d3{
    width: 100%;
    position: absolute;
    height: 40%;
    bottom: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.9));
    color: #fff;
    font-family: "poppins";
}

#box2{
    width: 120px;
    height: 100px;
    background-color: #1e1e2f;
    margin-top: 50px;
} 
 
#d3>h2{
    position: absolute;
    font-family: "poppins";
    font-size: 40px;
    font-weight: 400;
    transform: rotate(-90deg);
    left: -30px;
    top: -5px;
} 

#search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 400px;
    height: 100px;
    background-color: #fff;
    padding-left: 30px;
    left: 10%;
    bottom: 10%;
    z-index: 1;
}

#search>input{
    font-family: "poppins";
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 15px;

}

#go{
    background-color: #97c680;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 30%;
}

#go>h1{
    font-family: "poppins";
    font-weight: 400;
    font-size: 30px;   
}